<br>
<br>
<div class="container-fluid align-items-center col-md-10">
  <h1 class="display-1 text-center text-primary">Formulaire de création de bien</h1>

  <div class="row flex-md-row mb-4 shadow-sm h-md-250 position-relative">
<!--    page 1 : création-->
    <div class="col-8 p-4 d-flex flex-column ">
      <mat-vertical-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="BienForm">
          <form [formGroup]="BienForm">
            <ng-template matStepLabel>Type de bien et prix</ng-template>
            <h3 class="mb-0">De quelle nature est votre bien ?</h3>
            <p class="card-text mb-auto text-primary">Pour un bon référencement, le choix du type de bien est primordial </p>
            <div class="mt-5">
              <label >Type de bien</label><br>
              <select [style.border-block-color]="verifTypeBien()? 'green': 'red'" class="form-select" formControlName="type"  aria-label="Default select example" >
                <option value="defaults" selected>Selectionez un type de bien</option>
                <option *ngFor="let t of listTypeDeBien; let i = index" value="{{i}}">{{t.nom}}</option>
              </select>

              <div class="b-example-divider"><br></div>
              <label>Prix</label><br>
              <input type="number" formControlName="prix" placeholder="le prix en €/$ "> par nuit.
            </div>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="BienForm">
          <form [formGroup]="BienForm">
            <ng-template matStepLabel>Photos</ng-template>
            <p class="text-primary">Vous pouvez télécharger une photo à la fois pour un maximum de 10 photos par bien!</p>
            <p *ngIf="boolImgNull" class="p-3 mb-2 bg-danger text-white">{{this.imgNull}}</p>
            <div *ngIf="tailleimg">
              <p class="text-primary">Vous ne pouvez ajouter un maximum de 10 images</p>
            </div>
            <input *ngIf="myFiles.length < 10" type="file" (change)="onFileSelected($event)" accept="image/png, image/jpeg"/>
            <h3 class="text-danger text-center" *ngIf="myFiles.length > 0">Pour supprimer une photo, cliquez sur la photo à supprimer.</h3>

            <div *ngFor="let error of this.errorList">
              <p class="p-3 mb-2 bg-danger text-white">{{error}}</p>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-2 mt-auto">
              <div class="col" *ngFor="let p of photos" >
                <img class="rounded-lg-3" src="{{p}}"  width="100%" height="100%" alt="TSHISHI création" (click)="supprimPhoto(p)">
              </div>
            </div>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="BienForm">
          <form [formGroup]="BienForm">
            <ng-template matStepLabel>Contact</ng-template>
            <h1 class="text-primary">Adresse du bien</h1>
            <div class="row">
              <div class="col">
                <label  class="form-label">Numéro : </label><br>
                <input type="text" formControlName="coordonneeNum" placeholder="numéro">
              </div>
              <div class="col">
                <label class="form-label">Nom de la rue : </label><br>
                <input type="text" formControlName="coordonneeRue" placeholder="rue">
              </div>
              <div class="col">
                <label  class="form-label">Code postal / Commune : </label><br>
                <input type="text" formControlName="coordonneeCPostal" placeholder="code postal">
              </div>
            </div>

            <h1 class="mt-3 text-primary">Informations de contact (Pour ce bien)</h1>
            <div class="row">
              <div class="col">
                <label  class="form-label">E-mail : </label><br>
                <input type="email" formControlName="coordonneeEmail" placeholder="email">
              </div>
              <div class="col">
                <label class="form-label">Téléphone : </label><br>
                <input type="text" formControlName="coordonneeTelephone" placeholder="telephone">
              </div>
              <div class="col" >
                <label [style.color]="verifville()? 'green': 'red'" class="form-label">Ville : </label><br>
                <select [style.border-block-color]="verifville()? 'green': 'red'" class="form-select" formControlName="coordonneeVille"  aria-label="Default select example" >
                  <option value="defaults" selected>Selectionez une ville</option>
                  <option *ngFor="let v of listVille; let i = index" value="{{i}}">{{v.nomVille}}</option>
                </select>
              </div>
            </div>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="BienForm">
          <form [formGroup]="BienForm">
            <ng-template matStepLabel>Informations</ng-template>
            <h1 class="text-primary">Information sur le bien</h1>
            <div class="px-5">
              <div class="row">
                <div class="col">
                  <label  class="form-label">Personne minimum</label><br>
                  <input  type="number" formControlName="npmin" placeholder="le nombre de personne minimum">
                </div>
                <div class="col">
                  <label class="form-label">Personne maximum</label><br>
                  <input type="number" formControlName="npmax" placeholder="le nombre de personne maximum">
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col">
                  <label class="form-label">Nombre de chambre</label><br>
                  <input type="number" formControlName="nchambre" placeholder="le nombre de chambre">
                </div>

                <div class="col">
                  <label  class="form-label">Nombre de salle de bain</label><br>
                  <input type="number" formControlName="nsdb" placeholder="le nombre de salle de bain">
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col">
                  <label  class="form-label">Nombre de toilette</label><br>
                  <input type="number" formControlName="nwc" placeholder="le nombre de toilette">
                </div>

                <div class="col">
                  <label class="form-label">Nombre total superficie loué (m2)</label><br>
                  <input type="number" formControlName="superficie" placeholder="supperficie du bien">
                </div>
              </div>
            </div>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="BienForm">
          <form [formGroup]="BienForm">
            <ng-template matStepLabel>Disponibilités</ng-template>
            <h1 class="text-primary">Disponible dans votre bien</h1>
            <div class="row row-cols-2">
              <!--        div colonne "disposition 1-->
              <div class="col-6">
                <ul class="list-group mb-3">
                  <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                      <label><input formControlName="securite" type="checkbox" value="securité" ><span class="p-3">Service de sécurité</span></label>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                      <label><input formControlName="wifi" type="checkbox" value="wifi"><span class="p-3">Internet</span></label>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                      <label><input formControlName="television" type="checkbox" value="television"><span class="p-3">Télévision</span></label>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                      <label><input formControlName="vesselle" type="checkbox" value="vesselle" ><span class="p-3">Vaisselle</span></label>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                      <label><input formControlName="literie" type="checkbox" value="literie" ><span class="p-3">Literie</span></label>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                      <label><input formControlName="lingeMaison" type="checkbox" value="lingeMaison" ><span class="p-3">Linge de maison</span></label>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                      <label><input formControlName="eauChaude" type="checkbox" value="eauChaude" ><span class="p-3">Eau chaude</span></label>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                      <label><input formControlName="eauFroide" type="checkbox" value="eauFroide" ><span class="p-3">Eau froide</span></label>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                      <label><input formControlName="eauPotable" type="checkbox" value="eauPotable" ><span class="p-3">Eau potable</span></label>
                    </div>
                  </li>
                </ul>
              </div>

              <!--        div colonne "disposition 2-->
              <div class="col-6">
                <ul>
                  <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                      <label><input formControlName="jardin" type="checkbox" value="jardin" ><span class="p-3">Jardin privé</span></label>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                      <label><input formControlName="cour" type="checkbox" value="cour" ><span class="p-3">Cour privée</span></label>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                      <label><input formControlName="terrasse" type="checkbox" value="terrasse" ><span class="p-3">Terrasse privée</span></label>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                      <label><input formControlName="piscinePrive" type="checkbox" value="piscinePrive" ><span class="p-3">Piscine privée</span></label>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                      <label><input formControlName="piscineCommune" type="checkbox" value="piscineCommune" ><span class="p-3">Piscine commune</span></label>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                      <label><input formControlName="vehicule" type="checkbox" value="vehicule" ><span class="p-3">Voiture</span></label>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                      <label><input formControlName="moto" type="checkbox" value="moto" ><span class="p-3">Moto</span></label>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                      <label><input formControlName="velo" type="checkbox" value="velo" ><span class="p-3">Vélo(s)</span></label>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                      <label><input formControlName="animaux" type="checkbox" value="animaux" ><span class="p-3">Animaux domestiques ADMIS</span></label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="BienForm">
          <form [formGroup]="BienForm">
            <ng-template matStepLabel>Description</ng-template>
            <div>
              <h1 class="text-primary">Description du bien</h1>
              <p>*** 50 caractères minimum. Actuellement <span [style.color]="this.BienForm.value.description?.toString().length < 50? 'red': this.BienForm.value.description?.toString().length < 2700? 'green' :this.BienForm.value.description?.toString().length <=3000? 'orange': 'red'">
                {{this.BienForm.value.description?.toString().length}}</span> sur un maximum de 3000 caractères ***</p>
              <angular-editor formControlName="description" [config]="config"></angular-editor>
            </div>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="BienForm">
          <form [formGroup]="BienForm">
            <ng-template matStepLabel>Création</ng-template>
            <h1 *ngIf="!this.BienForm.valid && !messageAttente" class="text-center text-danger">Vous ne pouvez pas créer ce bien,<br>car certaines informations sont manquantes.</h1>
            <button class="w-100 btn btn-primary btn-lg" (click)="ajouterBien()" *ngIf="BienForm.valid && !messageAttente && verifville() && verifTypeBien()">
              Je crée mon bien
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-laughing" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M12.331 9.5a1 1 0 0 1 0 1A4.998 4.998 0 0 1 8 13a4.998 4.998 0 0 1-4.33-2.5A1 1 0 0 1 4.535 9h6.93a1 1 0 0 1 .866.5zM7 6.5c0 .828-.448 0-1 0s-1 .828-1 0S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 0-1 0s-1 .828-1 0S9.448 5 10 5s1 .672 1 1.5z"/>
              </svg>

              <app-message-dattente *ngIf="messageAttente"></app-message-dattente>
            </button>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
          </form>
        </mat-step>
      </mat-vertical-stepper>
    </div>

<!--    Présentation Bien-->
    <div class="col-4 d-none d-lg-block">
      <div class="card shadow-sm">
        <div class="card shadow-sm border border-dark">
          <img class="rounded-lg-3" src="{{this.myFiles.length == 0? logo: this.photos[0]}}"  alt="TSHISHI création">
          <div class="card-body">

            <div class="row text-lg-start">
              <div class="col-5 flex-column">
                <div class="row-cols-2">
                  <img class="rounded-lg-3" src="{{this.BienForm.value.coordonneeVille == 'defaults'? logo: 'data:image/jpeg;base64,' + this.listVille[this.BienForm.value.coordonneeVille]?.img[0].picByte }}"  width="45%" height="45%" alt="TSHISHI création">
                  <br>
                  <br>
                  <img class="rounded-lg-3" src="{{this.BienForm.value.coordonneeVille == 'defaults'? logo: 'data:image/jpeg;base64,' + this.listVille[this.BienForm.value.coordonneeVille]?.province?.img[0].picByte}}"  width="45%" height="45%" alt="TSHISHI création">
                </div>
              </div>
              <div class="col-7">
                <h2>{{this.BienForm.value.coordonneeVille == 'defaults'? 'Ville': this.listVille[this.BienForm.value.coordonneeVille]?.nomVille}}
                  <br>
                  {{this.BienForm.value.coordonneeVille == 'defaults'? 'Province': this.listVille[this.BienForm.value.coordonneeVille]?.province?.nomprovince}}
                </h2>
                <h3>{{this.BienForm.value.type=='defaults'? 'Type de Bien': this.listTypeDeBien[this.BienForm.value.type]?.nom}}</h3>
                <h2 class="text-primary">{{this.BienForm.value.prix == null? 'prix': this.BienForm.value.prix}}€ / nuit</h2>
              </div>
            </div>

            <div class="row  row-cols-sm-4 row-cols bg-secondary text-white text-center">
              <div class="col">
                {{this.BienForm.value.npmax == null? 'Max': this.BienForm.value.npmax}} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/></svg>
              </div>

              <div class="col">
                {{this.BienForm.value.superficie == null? 'm²': this.BienForm.value.superficie +' m²'}}
              </div>
              <div class="col">
                {{this.BienForm.value.nchambre == null? 'Chambre': this.BienForm.value.nchambre}} <i class="fas fa-bed"></i>
              </div>
              <div class="col">
                {{this.BienForm.value.nsdb == null? 'SDB': this.BienForm.value.nsdb}} <i class="fas fa-bath"></i>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

