
<div class="wrapper fadeInDown">
  <div id="formContent" *ngIf="this.inscriptionBool && !attenteBool">

    <!-- Login Form -->
    <form [formGroup]="PersonneForm">
      <div class="p-3 mb-2 bg-warning text-white">
        <h1>Modification MDP</h1>
      </div>
      <p class="text-danger" *ngIf="textBool">{{textError}}</p>
      <input type="text" formControlName="Nom"   class="fadeIn second" name="nom" placeholder="Votre nom">
      <input type="text" formControlName="Prenom"  class="fadeIn third" name="prenom" placeholder="Votre prénom">
      <input type="date" formControlName="Ddn"  class="fadeIn third" name="ddn" placeholder="Votre date de naissance">
      <input type="email" formControlName="Email"  class="fadeIn third" name="password2" placeholder="Votre email">
      <input type="submit" class="fadeIn fourth" value="Envoi de la demande" (click)="envoiDemande()" *ngIf="this.PersonneForm.valid">
    </form>

  </div>

  <div class="text-center" *ngIf="attenteBool">
    <app-message-dattente></app-message-dattente>
  </div>

  <div class="text-center" *ngIf="this.connexionOK">
    <h1>Confirmation d'identitée</h1>
    <p>un e-mail vient de vous être envoyé. Insérez votre code.</p>
    <form [formGroup]="verifForm">
      <input type="password"  formControlName="codeActivation" class="fadeIn third" placeholder="Votre Code secret">
      <input type="password" formControlName="nPass"  class="fadeIn third"  placeholder="Nouveau mot de passe">
      <input type="password" formControlName="vPass"  class="fadeIn third"  placeholder="Confirmer mdp">
      <input type="submit" class="fadeIn fourth" value="Je confirme mon compte" (click)="validationCode()">
    </form>
  </div>
</div>
