<div align="center">
  <h3 >Cookie Notice</h3>
  <p>
    Mobembo.cd utilise des cookies pour personnaliser votre expérience
    et analyser le trafic du site Web à des fins de marketing et d'analyse.
  </p>
  <p><button type="button" class="btn btn-link" (click)="lookRGPD()">Politique en matière de cookies et règlement des données personnelles.</button></p>
  <button type="button" class="btn btn-success" (click)="AcceptationConditions()">J'accepte</button>
  <button type="button" class="btn btn-link" (click)="refusConditions()">Je refuse</button>
</div>
