<div class="container" *ngFor="let r of listreservation ">
  <table class="table table-striped">
    <thead>
    <th>ID</th>
    <th>Type</th>
    <th>Du</th>
    <th>Au</th>
    <th>Ville</th>
    <th>Province</th>
    <tbody>
    <tr >
      <td>{{r.id}}</td>
      <td>{{r.bien_reserve.type_bien.nom}}</td>
      <td>{{r.dda}}</td>
      <td>{{r.ddd}}</td>
      <td>{{r.bien_reserve.coordonnee.ville.nom_ville}}</td>
      <td>{{r.bien_reserve.coordonnee.ville.province.nomprovince}}</td>
    </tr>
    </tbody>
  </table>
  <app-info-mes-reservation [r]="r" ></app-info-mes-reservation>
</div>
