.demo-inline-calendar-card {
  width: auto;
}

::ng-deep.selected
{
  background-color: lightgray;
}
.drop-calendar
{
  width:30rem
}

::ng-deep.isnotselected
{
  background-color: #ade5ad;
  color: white;
}
