.demo-inline-calendar-card {
  width: auto;
}

:host /deep/ .selected .mat-calendar-body-cell-content
{
  background-color: lightgray;
}
.drop-calendar
{
  width:30rem
}

:host /deep/ .isnotselected .mat-calendar-body-cell-content
{
  background-color: #ade5ad;
  color: white;
}
