
<h1 align="center">Mes réservation(s)</h1>
<br>
<br>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" align="center">
  <div class="col" *ngFor="let demande of listDemande">
    <div class="card shadow-sm">
      <app-img-ala-one [b]="demande.bienDemandee"></app-img-ala-one>
      <div class="card-body">
        <h3 >{{demande.bienDemandee.coordonnee.ville.nom_ville}} / {{demande.bienDemandee.coordonnee.ville.province.nomprovince}}</h3>
        <h1 >{{demande.bienDemandee.type_bien.nom}}</h1>
        <p >Etat de la demande : </p>
        <h2 class="text-warning"  *ngIf="demande.etat.id == 1">{{demande.etat.etat}}</h2>
        <h2 class="text-success"  *ngIf="demande.etat.id == 2">{{demande.etat.etat}}</h2>
        <h2 class="text-danger"  *ngIf="demande.etat.id == 3">{{demande.etat.etat}}</h2>
        <p >{{demande.bienDemandee.prix}}€/{{demande.bienDemandee.dureeLocation.duree}}</p>
        <div class="row row-cols-1 row-cols-sm-2 row-cols" >
          <div class="col">{{demande.bienDemandee.npmax}}/personne</div>
          <div class="col">{{demande.bienDemandee.nchambre}}/chambre</div>
          <div class="col">{{demande.bienDemandee.nsdb}}/salle bain</div>
          <div class="col">{{demande.bienDemandee.superficie}}superficie</div>
        </div>
        <br>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button *ngIf="this.personne.isAuthenticated()" type="button"  class="btn btn-sm btn-outline-secondary" (click)="informationbient(demande)">Plus d'info ?</button>
          </div>
          <small class="text-muted">{{demande.ddj| date}}</small>
        </div>
      </div>
    </div>
  </div>
</div>
