
<div class="wrapper fadeInDown">
  <div id="formContent" *ngIf="this.inscriptionBool">

    <!-- Login Form -->
    <form [formGroup]="PersonneForm">
      <div class="p-3 mb-2 bg-primary text-white">
        <h3>DEVENIR LOCATAIRE</h3>
      </div>
      <p class="text-danger" *ngIf="textBool">{{textError}}</p>
      <input type="text" formControlName="Nom"   class="fadeIn second" name="nom" placeholder="Votre nom">
      <input type="text" formControlName="Prenom"  class="fadeIn third" name="prenom" placeholder="Votre prénom">
      <input type="date" formControlName="Ddn"  class="fadeIn third" name="ddn" placeholder="Votre date de naissance">
      <input type="password" formControlName="Password"  class="fadeIn third" name="password" placeholder="Un mot de passe">
      <input type="password" formControlName="verifPassword"  class="fadeIn third" name="password" placeholder="Verif mot de passe">
      <input type="number" formControlName="Telephone"  class="fadeIn third" name="password2" placeholder="Un numero de telephone">
      <p *ngIf="verifExiste()" >Une personne est déjà inscrit avec cette adresse email !</p>
      <input type="email" formControlName="Email"  class="fadeIn third" name="password2" placeholder="Votre email">
      <input type="submit" class="fadeIn fourth" value="S'nscrire" (click)="ajouterPersonne()" *ngIf="this.PersonneForm.valid">
    </form>

  </div>

  <div  align="center" *ngIf="attenteBool">
    <app-message-dattente></app-message-dattente>
  </div>

  <div  align="center" *ngIf="this.connexionOK">
    <h1> Votre inscription est un succès</h1>
    <app-activation-compte></app-activation-compte>
  </div>
</div>
