<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="verifCoo() && verifSiCo()" >
          <a class="nav-link" routerLink="/province">Province</a>
        </li>
        <li class="nav-item" *ngIf="verifCoo() && verifSiCo()">
          <a class="nav-link" routerLink="/ville">Ville</a>
        </li>
        <li class="nav-item" *ngIf="verifCoo() && verifSiCo()">
          <a class="nav-link" routerLink="/service">Service</a>
        </li>
        <li class="nav-item" *ngIf="verifCoo() && verifSiCo()">
          <a class="nav-link " routerLink="/typeBien">Type de bien</a>
        </li>
        <li class="nav-item" *ngIf="verifCoo() && verifSiCo()">
          <a class="nav-link " routerLink="/typeService">Type de service</a>
        </li>
        <li class="nav-item" *ngIf=" verifSiCo()">
          <a class="nav-link " routerLink="/allBien">Quoi de neuf</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/creerbien" *ngIf="verifSiCo()">Créer un bien</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/voirBienPersonne" *ngIf="verifSiCo()">Mes biens</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/voirBienPersonne" *ngIf="verifSiCo()"> Bonjour {{service.client().prenom}}</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-secondary mt-2" (click)="deconnexion()" *ngIf="verifSiCo()">Deconnecter</button>
        </li>
      </ul>
    </div>
  </nav>
</div>


