<div class="container" *ngIf="verifSiCo()">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid">
      <a class="navbar-brand" href="/allBien" >Mobembo.cd</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" *ngIf="verifCoo()" >
            <button type="button" class="btn btn-light" routerLink="/province">Province</button>
          </li>
          <li class="nav-item" *ngIf="verifCoo()">
            <button type="button" class="btn btn-light" routerLink="/ville">Ville</button>
          </li>
          <li class="nav-item" *ngIf="verifCoo()">
            <button type="button" class="btn btn-light" routerLink="/service">Service</button>
          </li>
          <li class="nav-item" *ngIf="verifCoo()">
            <button type="button" class="btn btn-light" routerLink="/typeBien">Type de bien</button>
          </li>
          <li class="nav-item" *ngIf="verifCoo()">
            <button type="button" class="btn btn-light" routerLink="/typeService">Type de service</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-light" routerLink="/allBien">Quoi de neuf</button>
          </li>
          <li class="nav-item" *ngIf="verifsiloca()">
            <button type="button" class="btn btn-light" routerLink="/creerbien">Créer un bien</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-light" routerLink="/voirBienPersonne">Mes biens</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-light" routerLink="/voirMesReservation">Mes réservations</button>
          </li>
        </ul>
        <form class="d-flex">
          <button class="btn btn-link" (click)="deconnexion()">Deconnecter</button>
        </form>
      </div>
    </div>
  </nav>
</div>
