
<div >
      <div class="d-flex flex-column justify-content-start form-group">
        <form [formGroup]="villeForm" >
          <div class="col-sm-6 p-3 mb-2 bg-secondary text-white">
            <h5>Une photo</h5>
            <p *ngIf="boolImgNull" class="p-3 mb-2 bg-danger text-white">{{this.imgNull}}</p>
            <div *ngIf="tailleimg">
              <p>Vous ne pouvez ajouter un maximum de 10 images</p>
            </div>
            <input type="file" (change)="onFileSelected($event)" multiple accept="image/png, image/jpeg"/>
            <div *ngFor="let error of this.errorList">
              <p class="p-3 mb-2 bg-danger text-white">{{error}}</p>
            </div>
          </div>
          <br><br>
          <input type="text" formControlName="nom_ville" placeholder="nom ville ">
          <input type="number" formControlName="nhabitant" placeholder="nombre d'habitant">
          <select class="form-select" formControlName="province"  aria-label="Default select example" >
            <option value="default" selected>Selectionez une provinve</option>
            <option *ngFor="let p of listProvince; let i = index" value="{{i}}">{{p.nomprovince}}</option>
          </select>
          <input type="text" formControlName="description" placeholder="description ">
          <br>
          <button class="btn btn-secondary mt-2" (click)="ajouterVille()">Ajouter</button>
        </form>
      </div>

      <br><br>

      <div >
        <div class="pro"><label for="search"> Rechercher : </label>
          <input type="text" [(ngModel)]="startingString" id="search">
        </div>

        <table class="table table-striped">
          <thead>
          <th>ID</th>
          <th>Ville</th>
          <th>Province</th>
          <th>Population</th>
          <th>Description</th>
          <tbody>
          <tr *ngFor="let v of (listVille | VillePipe:(startingString))">
            <td>{{v.id}}</td>
            <td><h3>{{v.nomVille}}</h3></td>
            <td>{{v.province.nomprovince}}</td>
            <td>{{v.nhabitant}}</td>
            <td>{{v.description}}</td>
            <td><button class="btn bg-body" (click)="supprimerVille(v.id)">suprimer </button></td>
            <td><button class="btn btn-dark" (click)="ajouerIMG(v.id)">Ajouter IMG </button></td>
          </tr>
          </tbody>
        </table>
  </div>
</div>
