<div *ngIf="siConnecte()">
  <button (click)="changement()" class="btn btn-dark">Information</button>
</div>


<div *ngIf="echange" class="row">
  <div class="row">
    <div class="col-md-5">
      <h4>{{r.bien_reserve.type_bien.nom}} à {{r.bien_reserve.coordonnee.ville.nom_ville}}</h4>
      <h3>{{r.bien_reserve.prix}}€</h3>
      <h4>Info de contact</h4>
      <ul>
        <li>
          <h6>De : {{r.bien_reserve.appartient.nom}} {{r.bien_reserve.appartient.prenom}}</h6>
        </li>
      </ul>
    </div>
  </div>

  <br>
  <div class="col-md-3">
    <h6>Personne min : {{r.bien_reserve.npmin}}</h6>
  </div>
  <div class="col-md-3">
    <h6>Personne max : {{r.bien_reserve.npmax}}</h6>
  </div>
  <div class="col-md-3">
    <h6>Chambre : {{r.bien_reserve.nchambre}}</h6>
  </div>
  <div class="col-md-3">
    <h6>Salle de bain : {{r.bien_reserve.nsdb}}</h6>
  </div>
  <div class="col-md-3">
    <h6>Superficie  : {{r.bien_reserve.superficie}} m&#xB2;  </h6>
  </div>
  <div class="col-md-3">
    <h6>Toilette : {{r.bien_reserve.nwc}}</h6>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>Description</h4>
      <p>{{r.bien_reserve.description}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h5>{{r.bien_reserve.coordonnee.ville.nom_ville}}</h5>
      <p>{{r.bien_reserve.coordonnee.ville.description}}</p>
    </div>
    <div class="col-md-6">
      <h5>{{r.bien_reserve.coordonnee.ville.province.nomprovince}}</h5>
      <p>{{r.bien_reserve.coordonnee.ville.province.description}}</p>
    </div>
  </div>

</div>
