
<div >
    <div class="d-flex flex-column justify-content-start form-group">
      <h5>Type de bien</h5>
      <form [formGroup]="typeDeBienForm">
        <input type="file"  name="img" accept="image/*">
        <br><br>
        <input type="text" formControlName="nom"  placeholder="type de bien ">
        <br>
        <button class="btn btn-secondary mt-2" (click)="ajouterTypeDeBien()">Ajouter</button>
      </form>
  </div>

    <br><br>

  <div >
    <div class="pro"><label for="search"> Rechercher : </label>
      <input type="text" [(ngModel)]="startingString" id="search">
    </div>

    <table class="table table-striped">
      <thead>
      <th>ID</th>
      <th>Nom</th>
      <tbody>
      <tr *ngFor="let tdb of (listTypeDeBien | typedebienPipes:(startingString))">
        <td>{{tdb.id}}</td>
        <td>{{tdb.nom}}</td>
        <td><button class="btn bg-body" (click)="supprimerTypeDeBien(tdb.id)">suprimer </button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
