
<br>
<div class="container">
  <div class="wrapper fadeInDown">
    <div class="d-flex flex-column justify-content-start form-group">
      <h5>Service</h5>
      <form [formGroup]="serviceForm" >
        <br><br>
        <input type="text" formControlName="nom" placeholder="nom service ">
        <select class="form-select" formControlName="type"  aria-label="Default select example" >
          <option value="default" selected>Selectionez un type de service</option>
          <option *ngFor="let t of listTypeDeService; let i = index" value="{{i}}">{{t.nomtype}}</option>
        </select>
        <select class="form-select" formControlName="coordonneeVille"  aria-label="Default select example" >
          <option value="defaults" selected>Selectionez une ville</option>
          <option *ngFor="let v of listVille; let i = index" value="{{i}}">{{v.nomVille}}</option>
        </select>
        <input type="number" formControlName="coordonneeCpostal" placeholder="code postal">

        <input type="text" formControlName="coordonneeRue" placeholder="rue">
        <input type="number" formControlName="coordonneeNum" placeholder="numéro">
        <input type="email" formControlName="coordonneeEmail" placeholder="email">
        <input type="number" formControlName="coordonneeTelephone" placeholder="Telephone">
        <br>
        <button class="btn btn-secondary mt-2" (click)="ajouterService()">Ajouter</button>
        <br><br>
      </form>
    </div>

    <br><br>

    <div >
      <div class="container">
        <div class="align-items-center">
          <div class="pro"><label for="search"></label>
            <a>Rechercher :</a>
            <input type="text" [(ngModel)]="startingString" id="search">
          </div>
        </div>


        <table class="table table-striped">
          <thead>
          <th>ID</th>
          <th>Nom</th>
          <th>Type</th>
          <th>Adresse</th>
          <th>N°</th>
          <th>Ville</th>
          <th>Province</th>
          <tbody>
          <tr *ngFor="let s of (listService | servicePipes:(startingString))">
            <td>{{s.id}}</td>
            <td>{{s.nom}}</td>
            <td>{{s.type.nomtype}}</td>
            <td>{{s.coordonnee.rue}}</td>
            <td>{{s.coordonnee.num}}</td>
            <td>{{s.coordonnee.ville.nomVille}}</td>
            <td>{{s.coordonnee.ville.province.nomprovince}}</td>
            <td><button class="btn bg-body" (click)="supprimerService(s.id)">suprimer </button></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
