<div class="b-example-divider"></div>

<div class="px-4 pt-5 my-5 text-center border-bottom " >
  <main>
    <div class="row g-5">

      <div class="col-md-3" >
        <div class="position-sticky" style="top: 2rem;">
          <div class="p-4 mb-3 bg-light">
            <h4 class="fst-italic">Que Recherchez vous?</h4>
            <div>
              <form [formGroup]="rechercheForm">
                <div class="col">
                  <label class="form-label">Par type de Bien :</label>
                  <select class="form-select"  aria-label="Default select example" formControlName="typeBien" (change)="enventTB()">
                    <option value="defaults" selected>Défauts</option>
                    <option  *ngFor="let t of listTypeBien; let i = index" value="{{i}}">{{t.nom}}</option>
                  </select>
                </div>
                <br>
              </form>
              <br>
              <button type="button" class="btn btn-primary" (click)="resetReserche()">Réinitialiser</button>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-9">
        <div *ngIf="this.listBien.length < 1">
          <h1>Pour le moment, vous ne pouvez manipuler aucun bien!</h1>
          <h3>Soit parce que vous n'avez pas encore créé un bien, soit parce que votre/vos bien(s) a/ont un contrat de "Bien Mis En Ligne" actif.</h3>
        </div>
        <article class="blog-post">

          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col" *ngFor="let b of (listBien | typeBiensPipes:(typeBien))">
              <div class="row-cols-2">
                <button *ngIf="!b.modeActive" type="button"  class="col btn btn-outline-danger" (click)="suprimerBien(b)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
                </button>
                <button  type="button" *ngIf="!b.modeActive" class="col btn btn-outline-success" (click)="activation(b)">Mettre en ligne</button>
              </div>
              <app-one-bien [b]="b"></app-one-bien>
            </div>
          </div>

        </article>

      </div>
    </div>

  </main>
  <br>
  <br>
</div>

<div class="b-example-divider"></div>
<app-bien-mis-en-ligne></app-bien-mis-en-ligne>
