<div class="b-example-divider"></div>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <app-one-bien *ngIf="acceptForm.value.check == false" [b]="bien"></app-one-bien>
      <div *ngIf="acceptForm.value.check == true">
        <div *ngIf="this.service.repIBAU()">
          <h1>Combien de temps voulez mettre votre bien en ligne?</h1>
          <br>
          <form [formGroup]="choixJourForm">
            <select class="form-select" formControlName="jour"  aria-label="Default select example" >
              <option value="defaults" selected>Durée de mis en ligne</option>
              <option *ngFor="let n of this.listNuit; let i = index" value="{{i}}">{{n.nNuit}} jours en ligne.</option>
            </select>
          </form>
          <br>
          <button *ngIf="choixJourForm.valid" type="button" class="btn btn-outline-success" (click)="activation()">Mettre en ligne</button>
        </div>
        <div *ngIf="!this.service.repIBAU()">
          <h1>ACCES REFUSE</h1>
          <p>Des informations manquents nous enpêchent de poursuivre ce progress</p>
          <p>Veuillez consulter votre profil pour en savoir plus.</p>
          <br>
          <button *ngIf="choixJourForm.valid" type="button" class="btn btn-outline-success" (click)="voirProfil()">Voir profil</button>
        </div>


        <div class="wrapper fadeInDown" *ngIf="verifCode">
          <div id="formContent">
            <h2 class="text-warning">Attente de confirmation</h2>
            <p>Vous y êtes presque !!!</p>
            <p class="text-info">Pour connaître votre code de vérification,<br>Veuillez consulter votre boite e-mail!</p>
            <!-- Login Form -->
            <form [formGroup]="veifCodeForm">
              {{codeFaut}}
              <input type="password"  formControlName="codeActivation" class="fadeIn third" name="mdp" placeholder="Votre Code secret">
              <input type="submit" class="fadeIn fourth" value="Je confirme la mise en ligne." *ngIf="veifCodeForm.valid" (click)="envoiCode()">
            </form>
            <p class="text-danger">*** ATTENTION *** La mise en ligne est un acte qui doit être mûrement réfléchi!!!</p>
            <p>Pour cet/cette {{bien.type_bien.nom}}, il ne vous sera plus possible de faire des modifications.
              <br>
            Et toute demande de retrait de mise en ligne, vous sera facturée d'une fois le prix d'une nuit demandé pour ce Bien, soit {{bien.prix}} €.</p>
          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">ATTENTION !!!</h1>
      <h2 class="display-5 fw-bold lh-1 mb-3">Vous êtes sur le point de mettre un Bien en ligne.</h2>
      <p class="lead">Ce qui implique que vous avez bien pris connaissance et acceptez le <span>CONTRAT BMEL</span>.</p>
      <p class="lead">L'acceptation des termes du contra indiqué ci-deçus est <span>OBLIGATOIRE</span> lors de la mise d'un Bien En Ligne.</p>
      <br>
      <form [formGroup]="acceptForm">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" formControlName="check">
          <label class="form-check-label" >J'accèpte les termes et les conditions du <span>CONTRAT BMEL</span>.</label>
        </div>
      </form>

      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" (click)="onClose()">Annuler</button>
      </div>
    </div>
  </div>
</div>

<div class="b-example-divider"></div>
