<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6" >
      <div *ngIf="acceptForm.value.check == true">
        <div class="alert alert-danger text-center" role="alert" *ngIf="!verifCode">
          <h2>Vous étes sur le point d'annuler le contrat :"</h2>
          <p class="pb-2 border-bottom">Contrat de mise en ligne de/d' {{contrat.bienVuDTO.type_bien.nom}}.<br>A l'adresse: {{contrat.bienVuDTO.coordonnee.num}} {{contrat.bienVuDTO.coordonnee.rue}}, {{contrat.bienVuDTO.coordonnee.ville.nomVille}} / {{contrat.bienVuDTO.coordonnee.ville.province.nomprovince}}</p>
          <p class="pb-2 border-bottom" *ngIf="contrat.enCour">En cour... du {{contrat.ddDebut | date}} à {{contrat.ddFin | date}}</p>
          <p class="pb-2 border-bottom" *ngIf="!contrat.enCour">Ce contrat a prit fin le {{contrat.ddFin | date}}</p>
          <h1>Ceci est une action sans retour qui entraine le payement de {{contrat.bienVuDTO.prix}}€ au profit de Mobembo.cd, comme stipulé dans le contrat.</h1>
          <button *ngIf="!btnSuppress" type="button" class="btn btn-outline-danger" (click)="etap2()">Continuer</button>
          <div></div>
          <form *ngIf="btnSuppress" [formGroup]="stopFrom">
            <div class="form-group">
              <label for="exampleInputEmail1">Veuillez retaper cette phrase "{{this.stopMessageContrat}}"</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="textStop">
            </div>
            <br>
            <button *ngIf="stopFrom.value.textStop  == stopMessageContrat" type="submit" class="btn btn-outline-danger" (click)="stopContrat()">Je confirme la demande d'arrêt du contrat</button>
          </form>
        </div>
        <div class="wrapper fadeInDown" *ngIf="verifCode">
          <div id="formContent">
            <h1>Veuillez introduire votre code de vérification.</h1>
            <!-- Login Form -->
            <form [formGroup]="veifCodeForm">
              {{codeFaut}}
              <input type="password"  formControlName="codeActivation" class="fadeIn third" name="mdp" placeholder="Votre Code secret">
              <input type="submit" class="fadeIn fourth" value="Valider" *ngIf="veifCodeForm.valid" >
            </form>
            <p class="text-info">Pour connaître votre code de vérification, Veuillez consulter votre boite e-mail!</p>
            <div><br></div>
            <p class="text-danger">*** ATTENTION *** Une demande d'arrêt d'un contrat doit être un acte mûrement réfléchi!!!
              <br>CAR CELA ENTRAINE DES FRAIS!!!!</p>
            <p class="lead text-danger">Pour ce Bien, cela implique une redevance de {{contrat.bienVuDTO.prix}}€ au profit de Mobembo.cd, comme stipulé dans le contrat.</p>
          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-6">

      <h1 class="display-5 fw-bold lh-1 mb-3 text-danger">ATTENTION !!!</h1>
      <h2 class="display-5 fw-bold lh-1 mb-3 text-warning">Vous êtes sur le point de STOPPER CE CONTRAT.</h2>
      <p class="pb-2 border-bottom">Contrat de mise en ligne de la/le/l' {{contrat.bienVuDTO.type_bien.nom}}.<br>A l'adresse: {{contrat.bienVuDTO.coordonnee.num}} {{contrat.bienVuDTO.coordonnee.rue}}, {{contrat.bienVuDTO.coordonnee.ville.nomVille}} / {{contrat.bienVuDTO.coordonnee.ville.province.nomprovince}}</p>
      <p class="pb-2 border-bottom" *ngIf="contrat.enCour">En cours... du {{contrat.ddDebut | date}} à {{contrat.ddFin | date}}</p>
      <p class="pb-2 border-bottom" *ngIf="!contrat.enCour">Ce contrat a pris fin le {{contrat.ddFin | date}}</p>
      <p *ngIf="acceptForm.value.check == true" class="text-success">Vous avez accepté les termes du contrat. si ce n'est pas le cas, veuillez cliquer sur <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" (click)="onClose()">Annuler</button>.</p>

      <div *ngIf="!acceptForm.value.check == true">
        <p class="lead text-danger">Ce qui implique une redevance de {{contrat.bienVuDTO.prix}}€ au profit de Mobembo.cd, comme stipulé dans le contrat.</p>

        <form [formGroup]="acceptForm">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" formControlName="check">
            <label class="form-check-label" >J'accepte et je poursuis l'arrêt de mon contrat.</label>
          </div>
        </form>

        <dive></dive>
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" (click)="onClose()">Annuler</button>
        <dive></dive>
      </div>
    </div>
  </div>
</div>
