<div class="container px-4 py-5" id="featured-3" *ngFor="let c of listContrat">
  <h2 class="pb-2 border-bottom">Contrat de mise en ligne de/d' {{c.bienVuDTO.type_bien.nom}}.<br>A l'adresse: {{c.bienVuDTO.coordonnee.num}} {{c.bienVuDTO.coordonnee.rue}}, {{c.bienVuDTO.coordonnee.ville.nomVille}} / {{c.bienVuDTO.coordonnee.ville.province.nomprovince}}</h2>
  <h3 class="pb-2 border-bottom" *ngIf="c.enCour">En cour... du {{c.ddDebut | date}} à {{c.ddFin | date}}</h3>
  <h3 class="pb-2 border-bottom" *ngIf="!c.enCour">Ce contrat a prit fin le {{c.ddFin | date}}</h3>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <div class="feature-icon bg-primary bg-gradient">
      </div>
      <div class="row">
        <div class="col">
          <h3>Bailleur</h3>
          <p>{{c.entre}}</p>
        </div>
        <div class="col">
          <h3>Prenneur</h3>
          <p>{{c.entre2}}</p>
        </div>
      </div>
      <h3>Objet</h3>
      <p>{{c.objet}}</p>
      <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" (click)="stopContrat(c)">Mettre fin au contrat</button>
    </div>
    <div class="feature col">
      <div class="feature-icon bg-primary bg-gradient">
      </div>
      <h3>Loyé</h3>
      <p>{{c.loyer}}</p>
      <h3>Etat des lieux</h3>
      <p>{{c.etatLieu}}</p>
      <a class="icon-link">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
      </a>
    </div>
    <div class="feature col">
      <div class="feature-icon bg-primary bg-gradient">
      </div>
      <h3>Durée</h3>
      <p>{{c.duree}}</p>
      <h5>DARDL</h5>
      <p>{{c.dardl}}</p>
      <a class="icon-link">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
      </a>
    </div>
  </div>
</div>
