<div class="container col-xxl-8 px-4 py-5" *ngIf="!reservationOk">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <div >
        <h3 *ngIf="!acceptForm.value.check">ETAPE 1: Accepte conditions.</h3>
        <h3 *ngIf="acceptForm.value.check && !verifCode && !verifCode2">ETAPE 2: Demande de date.</h3>
        <h3 *ngIf="acceptForm.value.check && verifCode">ETAPE 3: Vérification identité.</h3>
        <h3 *ngIf="acceptForm.value.check && !verifCode && codeAcceptee && verifCode2">ETAPE 4: paiement.</h3>
        <div class="card shadow-sm" *ngIf="!(acceptForm.value.check && !verifCode && codeAcceptee && verifCode2)">
          <app-one-bien   [b]="bien"></app-one-bien>
            <div class="d-flex justify-content-between align-items-center">

              <small class="text-muted">
              </small>
            </div>
        </div>
        <div class="card shadow-sm" *ngIf="acceptForm.value.check && !verifCode && codeAcceptee && verifCode2">
          <app-pay-pal (statusPayement)="reservationReussit()" [idObjet]="bien.id" [prix]="(bien.prix * nJour)" [payementPour]="'reservation'" [reservation]="reservation"></app-pay-pal>
        </div>
      </div>
    </div>
    <div class="col-lg-6">

        <h1 class="display-5 fw-bold lh-1 mb-3 text-danger text-center">ATTENTION !!!</h1>
        <h2 class="display-5 fw-bold lh-1 mb-3 text-danger text-center">Vous êtes sur le point de réserver ce bien.</h2>
        <h3 class="display-5 fw-bold lh-1 mb-3 text-center">{{bien.type_bien.nom}}({{bien.id}}) à {{bien.prix}}, {{bien.coordonnee.ville.nomVille}} / {{bien.coordonnee.ville.province.nomprovince}}</h3>
        <p *ngIf="acceptForm.value.check">Vous avez accepté les termes du contrat.<br>Si ce n'est pas le cas, veuillez cliquer sur le bouton "Annuler".</p>


      <div *ngIf="!acceptForm.value.check">
        <p class="lead">Ce qui implique que vous avez bien pris connaissance et vous acceptez les termes et conditions  du <span (click)="lookRGPD()" class="btn btn-link">RGPD</span> ainsi que les <span (click)="lookCGU()" class="btn btn-link">Conditions général d'utilisation</span>.</p>
        <p class="lead">L'acceptation des termes indiqué ci-dessous est <span class="text-danger">OBLIGATOIRE</span> lors de la réservation d'un bien.</p>
        <p class="lead">Exemple de contrat :</p>
        <ul>
          <li (click)="lookCR()" class="btn btn-link">Contrat de réservation</li>
        </ul>
        <br>
        <form [formGroup]="acceptForm">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" formControlName="check">
            <label class="form-check-label" >J'accepte les termes et les conditions du <span (click)="lookRGPD()" class="btn btn-link">RGPD</span> ainsi que les <span (click)="lookCGU()" class="btn btn-link">Conditions général d'utilisation</span>.</label>
          </div>
        </form>

      </div>

      <div *ngIf="acceptForm.value.check == true && !verifCode && !verifCode2">
        <div *ngIf="this.service.repIBAU()">
          <br>
          <form id="reservation" [formGroup]="choixJourForm">
            <mat-form-field color="accent">
              <mat-label>Date d'arrivé</mat-label>
              <input matInput formControlName="jourA" [matDatepickerFilter]="isSelected" [min]="bien.disponibles[0]" [max]="bien.disponibles[bien.disponibles.length-1]" [matDatepicker]="picker1">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker  class="calendar" #picker1></mat-datepicker>
            </mat-form-field>

            <mat-form-field color="accent" >
              <mat-label>Date de départ</mat-label>
              <input formControlName="jourD" matInput [matDatepickerFilter]="isSelected"  [min]="date" [max]="bien.disponibles[bien.disponibles.length-1]" [matDatepicker]="picker2"  >
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker class="calendar" #picker2 color="primary"></mat-datepicker>
            </mat-form-field>
              <br>
                <p>Nombre personne(s) sur les lieux (1 à {{this.bien.npmax}} pour ce bien):</p>
                <input class="form-control" type="number" formControlName="nPersonne">
          </form>
          <br>
          <button *ngIf="choixJourForm.valid" type="button" class="btn btn-outline-success" (click)="activation()">Passer au paiement</button>
          <h3>{{reservationError}}</h3>
        </div>

        <div *ngIf="!this.service.repIBAU()">
          <h1 class="text-danger text-center">ACCES REFUSE</h1>
          <p>Des informations manquantes nous empêchent de poursuivre ce processus.</p>
          <p>Veuillez consulter votre profil pour en savoir plus.</p>
          <br>
          <button *ngIf="choixJourForm.valid" type="button" class="btn btn-outline-success" (click)="voirProfil()">Voir profil</button>
        </div>
      </div>
      <div *ngIf="acceptForm.value.check == true && verifCode2">
        <div *ngIf="this.service.repIBAU()">
          <br>
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Prix / nuit</th>
              <th scope="col">ID</th>
              <th scope="col">Type Bien</th>
              <th scope="col">Lieu</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">{{bien.prix}}€</th>
              <td>{{bien.id}}</td>
              <td>{{bien.type_bien.nom}}</td>
              <td>{{this.bien.coordonnee.ville.nomVille}} {{this.bien.coordonnee.ville.province.nomprovince}}</td>
            </tr>
            </tbody>
          </table>
          <br>
          <table class="table">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">N° Nuit</th>
              <th scope="col">Date d'arrivée</th>
              <th scope="col">Date de départ</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">#</th>
              <td>{{nJour}}</td>
              <td>{{choixJourForm.value.jourA}}</td>
              <td>{{choixJourForm.value.jourD}}</td>
            </tr>
            </tbody>
          </table>
          <h1>Total : {{bien.prix * nJour}} €</h1>
        </div>
        <div *ngIf="!this.service.repIBAU()">
          <h1>ACCES REFUSE</h1>
          <p>Des informations manquantes nous empêchent de poursuivre ce processus</p>
          <p>Veuillez consulter votre profil pour en savoir plus.</p>
          <br>
          <button *ngIf="choixJourForm.valid" type="button" class="btn btn-outline-success" (click)="voirProfil()">Voir profil</button>
        </div>
      </div>
      <div class="wrapper fadeInDown" *ngIf="verifCode">
        <div id="formContent">
          <p>Pour connaître votre code de vérification, veuillez consulter votre boite mail!</p>
          <!-- Login Form -->
          <form [formGroup]="veifCodeForm">
            {{codeFaut}}
            <input type="password"  formControlName="codeActivation" class="fadeIn third" name="mdp" placeholder="Votre code secret">
            <input type="submit" class="fadeIn fourth" value="Je confirme la réservation" *ngIf="veifCodeForm.valid" (click)="envoiCode()">
          </form>
          <p class="text-danger text-center">*** ATTENTION *** </p>
          <p class="text-danger text-center">La réservation d'un bien doit être un acte mûrement réfléchi!!!</p>
          <p>Toute demande de résiliation pour cette réservation, faite 10 jours ouvrable avant le {{choixJourForm.value.jourA | date: 'dd MM YYYY'}}, ne vous sera pas facturé.</p>
          <p>Après, vous serez facturé d'une fois le prix d'une nuit demandé pour ce bien, soit {{bien.prix}} €.</p>
        </div>
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" (click)="onClose()">Annuler</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="reservationOk">
  <h1 class="text-success">Réservation réussie !</h1>
  <h3 class="text-primary">L'équipe Mobembo.cd vous souhaite un bon séjour chez notre partenaire.</h3>
  <p>
    Dès à présent, il vous est possible de consuler, télécharger ou d'imprimer votre contrat de réservation dans :
    <br>
    <span class="font-weight-bold">Gestion des réservations > Contrat de réservation</span>
  </p>
  <br>
  <br>
  <button type="button" class="btn btn-primary" (click)="onClose()">Home</button>
</div>
