<div class="wrapper fadeInDown" >
  <div id="formContent">
    <h3 class="text-danger">{{this.textErro}}</h3>
    <!-- Login Form -->
    <form [formGroup]="logForm">
      <div class="p-3 mb-2 bg-success text-white">
      <h1>Connexion</h1>
    </div>
      <label class="email-detail-attachment">E-mail </label><br>
      <input type="email" formControlName="email"   class="fadeIn second" name="email" placeholder="Votre E-mail">
      <br>
      <br>
      <label class="email-detail-attachment">Mot de passe</label><br>
      <input type="password" formControlName="mdp"  class="fadeIn third" name="mdp" placeholder="Votre password">
      <input *ngIf="logForm.valid" type="submit" class="fadeIn fourth" value="Connexion" (click)="verrif()">
    </form>
    <h3 class="text-danger text-center">{{connexionCo}}</h3>
  </div>
</div>
