<div class="b-example-divider"></div>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<div class="px-4 pt-5 my-5 text-center border-bottom" *ngIf="this.listBienMisEnLigne.length >=1">
  <h1 class="display-4 fw-bold border border-dark">{{this.listBienMisEnLigne.length}} Bien(s) mis en ligne.</h1>
  <main>
    <div class="row g-5">

      <div class="col-md-3" >
        <div class="position-center" style="top: 2rem;">
          <div class="p-4 mb-3 bg-light">
            <h4 class="fst-italic">Que Recherchez vous?</h4>
            <div>
              <form [formGroup]="rechercheForm">
                <div class="col">
                  <label class="form-label">Par type de bien :</label>
                  <select class="form-select"  aria-label="Default select example" formControlName="typeBien" (change)="enventTB()">
                    <option value="defaults" selected>Defaults</option>
                    <option  *ngFor="let t of listTypeBien; let i = index" value="{{i}}">{{t.nom}}</option>
                  </select>
                </div>
                <br>
              </form>
              <br>
              <button type="button" class="btn btn-primary" (click)="resetReserche()">réinitialiser</button>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-9">
        <article class="blog-post">

              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" align="center">
                <div class="col" *ngFor="let enLigne of (listBienMisEnLigne | bmel:(typeBien))">
                  <div class="card shadow-sm border border-dark">
                    <app-img-ala-one [b]="enLigne.bienLie"></app-img-ala-one>
                    <button type="button" class="btn btn-primary" (click)="voircontratLie(enLigne.contratBienMisEnLigne)">Voir contrat associé</button>
                    <div class="card-body">
                      <h3 >{{enLigne.bienLie.coordonnee.ville.nomVille}} / {{enLigne.bienLie.coordonnee.ville.province.nomprovince}}</h3>
                      <h1 >{{enLigne.bienLie.type_bien.nom}}</h1>
                      <p >{{enLigne.bienLie.prix}}€/ nuit</p>
                      <div class="row row-cols-1 row-cols-sm-2 row-cols bg-secondary text-white" >
                        <div class="col-xl-3">{{enLigne.bienLie.npmax}}<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                          <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                          <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                          <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                        </svg></div>
                        <div class="col-xl-3">{{enLigne.bienLie.nchambre}} <i class="fas fa-bed"></i></div>
                        <div class="col-xl-3">{{enLigne.bienLie.nsdb}} <i class="fas fa-bath"></i></div>
                        <div class="col-xl-3">{{enLigne.bienLie.superficie}}<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrows-fullscreen" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707zm0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707zm-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707z"/>
                        </svg></div>
                      </div>
                      <br>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button"  class="btn btn-sm btn-outline-secondary" (click)="informationbient(enLigne.bienLie)">Plus d'info ?</button>
                        </div>
                        <small class="text-muted">En ligne jusqu'au : {{enLigne.bienLie.dateFinMisEnLigne| date}}</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <br>

            <div class="b-example-divider"></div>

        </article>

      </div>
    </div>

  </main>
  <br>
  <br>
</div>

<div class="b-example-divider"></div>
