<div class="b-example-divider">
</div>

<div class="row p-4 pb-0 pe-lg-0 pt-lg-5 flex-lg-row-reverse align-items-center g-1">
  <div class=" col-lg-6">
    <app-locataire *ngIf="locataire"></app-locataire>
    <app-propriettaire *ngIf="proprietaire"></app-propriettaire>
  </div>

  <div class="col-lg-6">
    <h1 class="display-5 fw-bold lh-1 mb-3">Bienvenu(e) chèr(e) ami(e)...</h1>
    <p class="lead">A l'inscription, deux choix vous est proposé:</p>
    <ul>
      <li>
        <p class="lead">Créer un compte en tant que propriétaire;</p>
      </li>
      <li>
        <p class="lead">Créer un compte en tant que locataire.</p>
      </li>
    </ul>
    <table class="table text-center">
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Infos</th>
        <th scope="col">Création</th>
        <th scope="col">Publication</th>
        <th scope="col">Réservation</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" (click)="choixLocataire()">LOCATAIRE</button>
        </th>
        <td>oui</td>
        <td>non</td>
        <td>non</td>
        <td>oui</td>
      </tr>
      <tr>
        <th scope="row">
          <button type="button" class="btn btn-outline-secondary btn-lg px-4" (click)="choiProprietaire()">PROPRIETAIRE</button>
        </th>
        <td>oui</td>
        <td>oui</td>
        <td>oui</td>
        <td>non</td>
      </tr>
      </tbody>
    </table>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
    </div>
  </div>


<div class="b-example-divider">
</div>

<div class="b-example-divider">
</div>
</div>
