

  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class=" col-lg-6">
      <app-locataire *ngIf="locataire"></app-locataire>
      <app-propriettaire *ngIf="proprietaire"></app-propriettaire>
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Hàà une nouvelle tête :)-</h1>
      <h2>Bienvenu(e) cher(e) ami(e)</h2>
      <p class="lead">ton premier choix ?!?!</p>
      <p class="lead">A l'inscription, deux choix vous est proposé. Créer un compte en tant que propriétaire ou en tant que locataire.</p>
      <p class="lead">C'est quoi la differance:</p>
      <ul>
        <li>Locataire</li>
          <p>Ce profil vous permettra d'avoir accès à tous les biens mis en ligne sans restriction.</p>
          <p>Ce qui veut dire :</p>
          <p>vous aurai accès aux informations plus précises de tous les biens ainsi que la possibilité d'interagir avec ces derniers (aimer, faire une demande de réservation, gérer vox réservations).</p>
        <li>Propiétaire</li>
          <p>Ce profil vous permettra d'avoir accès à tous les biens mis en ligne sans restriction.</p>
          <p>Ainsi que la possibilité de créer vos propre annonce de bien se trouvant en RDC.</p>
          <p>Ce qui veut dire :</p>
          <p>vous aurai accès aux informations plus précises de tous les biens ainsi que la possibilité d'interagir avec ces derniers (aimer, faire une demande de réservation, gérer vox réservations).</p>
          <p>Mais aussi, la possibilité de gestion qui incombe au status de propriétaire.</p>
      </ul>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" (click)="choixLocataire()">LOCATAIRE</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4" (click)="choiProprietaire()">PROPRIETAIRE</button>
      </div>
    </div>
  </div>

<div class="b-example-divider">
</div>
